---
import DotMorphCanvas from "@/components/visuals/dot-morph-canvas";
import { TextCascade } from "@/components/ui/text-cascade";

import Icon from "@/components/ui/icon.astro";
import { siteData } from "@/lib/data/site";
import { Button } from "@/components/ui/button/base";
---

<section id="hero" class="">
    <div class="flex flex-col gap-6">
        <div
            class="size-11 flex items-center justify-center rounded-lg bg-brand/30 shadow-card"
        >
            <img
                src={siteData.logo.src}
                class="size-10 rounded-md overflow-hidden"
                alt="Envoy1084"
                loading="eager"
                fetchpriority="high"
                decoding="async"
                width="40"
                height="40"
            />
        </div>
        <div class="flex flex-col gap-0.5">
            <h1 class="text-xl font-semibold">{siteData.name}</h1>
            <TextCascade
                items={siteData.titles}
                intervalMs={5000}
                className="text-content-tertiary text-[14px] font-medium"
                client:only="react"
            />
        </div>
        <p class="text-content-secondary font-medium text-base">
            {siteData.description}
        </p>
        <DotMorphCanvas sources={siteData.morphSources} client:only="react" />
    </div>
    <div class="flex flex-row gap-2 py-4">
        {
            Object.values(siteData.links).map((link) => {
                if ("url" in link) {
                    return (
                        <a href={link.url} target="_blank">
                            <Button variant="ghost" size="icon">
                                <Icon name={link.icon as any} class="size-4" />
                            </Button>
                        </a>
                    );
                }
            })
        }
    </div>
</section>
